body {
    background: url('../images/ignasi_pattern_s.png') repeat;
}

.wave {
    background-color: #fff;
    margin: 10px 0 1px;
}

.wave-timeline {
    background-color: #fff;
}

.controls {
    text-align: center;
}

.dragdrop-wrapper {
    text-align: center;
}

.dragdrop {
    height: 200px;
    outline: 3px dashed #5bc0de;
    padding: 30px;
    background: #fff;
    -webkit-transition: outline-offset .15s ease-in-out, background-color .15s linear;
    transition: outline-offset .15s ease-in-out, background-color .15s linear;
}

.dragdrop:hover {
    border-color: #5cb85c;
}

.btn {
    margin-bottom: 10px;
}

.glyphicon-music {
    margin-top: 15px;
    font-size: 3em;
}

.textarea {
    width: 100%;
    padding: 7.5px;
}

.wavesurfer-dragover {
    background-color: white;
    outline-offset: -10px;
}
